<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8">
        <title>Improve Scrum IT</title>
    </head>
    <body>
        <h1>Welcome <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
        <nav>
            <ul>
                <li><a th:href="@{/login}">Zaloguj się</a></li>
                <li><a th:href="@{/user/add-new-owner}">Zarejestruj firmę</a></li>
                <li><a th:href="@{/logout}">Wyloguj się</a></li>
            </ul>
        </nav>
    </body>
</html>