<form th:action="@{/user/add-new-owner}" th:object="${registerOwner}" method="post">
  <label>Company Name</label>
  <input type="text" th:field="*{companyName}" />
  <br />
  <br />
  <label>Email</label>
  <input type="text" th:field="*{email}" />
  <br />
  <label>Password</label>
  <input type="text" th:field="*{password}" />
  <br />
  <label>Firstname</label>
  <input type="text" th:field="*{firstname}" />
  <br />
  <label>Lastname</label>
  <input type="text" th:field="*{lastname}" />
  <br />
  <input type="submit" value="Submit" />
</form>

